body {
  margin: 0px auto;
  width: 600px;
  font-family: "Smythe", system-ui;
  font-weight: 400;
  letter-spacing: 1.5px;
  height: 1161px;
}

header {
  position: relative;
  text-align: left;
}

header img {
  height: 167px;
}

.restaurant-name {
  position: absolute;
  top: 28px;
  left: 35px;
  color: white;
  font-size: 2rem;
}

.restaurant-tagline {
  position: absolute;
  top: 55px;
  left: 35px;
  margin-top: 32px;
  color: white;
  font-size: 1.401rem;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-item-image {
  width: 75px;
  height: 89px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
}

.price {
  font-size: 20px;
  font-weight: 500;
}

.menu-items-details * {
  line-height: 1.1;
}

.menu-items-details h3 {
  margin-bottom: 8px;
  padding: 0;
}

.menu-item-ingredients {
  margin-bottom: 10px;
  color: gray;
  font-size: 20px;
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  font-size: 28px;
}

hr {
  border: none;
  border-top: 1px solid #e8e8e8;
}

.receipt {
  display: none;
  width: 510px;
  margin: 0px auto;
}

.order-header {
  text-align: center;
}

.ordered-item {
  display: flex;
  align-items: center;
}

.ordered-item h3,
.ordered-items-list p {
  margin: 0;
}

.ordered-items-list {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-btn {
  border: none;
  background-color: white;
  color: #bbbbbb;
  font-size: 12px;
  cursor: pointer;
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-line {
  margin-top: 10px;
  border-top: 4px solid #383838;
}

.complete-order-button {
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: #16db99;
  height: 60px;
  width: 508px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 360px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: white;
}

#customer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

input {
  margin-top: 10px;
  border: 2px solid #757575;
  padding: 10px;
  width: 270px;
  border-radius: 3px;
}

.card-details-title {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 900;
}

.pay-btn {
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: #16db99;
  height: 50px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}

.thank-you-msg {
  display: none;
  margin-top: 50px;
  background-color: #ecfdf5;
  width: 504px;
  height: 80px;
  margin: 0px auto;
}

.thank-you-text {
  color: #065f46;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
}
